@page "/counter"

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @CurrentCounter</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    
    [Parameter]
    public int CurrentCounter { get; set; } = 0;

    [Parameter] public EventCallback<int> CurrentCounterChanged { get; set; }

    private void IncrementCount()
    {
        CurrentCounter++;
        CurrentCounterChanged.InvokeAsync(CurrentCounter);
    }

}